In [16]:
import pandas as pd
import statistics
import datetime 
import matplotlib.pyplot as plt

In [64]:
# 計算夏普比率
def calculate_sharpe(R,rf,sd_s): # 基金持有至目前報酬率 & 大盤報酬率 & 基金淨值標準差 & 同類型大盤標準差
    sharpe = (R-rf)/sd_s
    return sharpe 
# 計算報酬率
def sell_return(today_nv, buy_nv, today_date, buy_date): # 計算賣出報酬率
    hold_days = (today_date - buy_date).days
    ret = (today_nv - buy_nv)/ buy_nv

    return ret
def down_days(s_list):
    day = 0
    for i in range(len(s_list)):
        if(i>0):
            if s_list[i] < s_list[i-1]:
                day += 1
            else:
                break
    return day

In [73]:
# import data #
#基金資料, 多 read 幾個sheet包成迴圈就可以一次測很多檔基金，可以把結果輸出成excel
df_fund = pd.read_excel("基金資料.xlsx",sheet_name ="工作表4") 
df_fund['年月日'] = pd.to_datetime(df_fund['年月日'])
df_market = pd.read_excel("大盤資料.xlsx") #大盤資料，自行指定大盤指數

df_fund

            年月日   幣別    淨值(元)    基金名稱
0    2013-11-26  NTD   9.9998  野村環高債A
1    2013-11-27  NTD   9.9994     NaN
2    2013-11-28  NTD   9.9989     NaN
3    2013-11-29  NTD   9.9985     NaN
4    2013-12-02  NTD   9.9971     NaN
5    2013-12-03  NTD  10.0030     NaN
6    2013-12-04  NTD  10.0027     NaN
7    2013-12-05  NTD  10.0015     NaN
8    2013-12-06  NTD  10.0019     NaN
9    2013-12-09  NTD  10.0075     NaN
10   2013-12-10  NTD  10.0165     NaN
11   2013-12-11  NTD  10.0263     NaN
12   2013-12-12  NTD  10.0236     NaN
13   2013-12-13  NTD  10.0202     NaN
14   2013-12-16  NTD  10.0357     NaN
15   2013-12-17  NTD  10.0346     NaN
16   2013-12-18  NTD  10.0336     NaN
17   2013-12-19  NTD  10.0635     NaN
18   2013-12-20  NTD  10.0696     NaN
19   2013-12-23  NTD  10.0789     NaN
20   2013-12-24  NTD  10.0856     NaN
21   2013-12-26  NTD  10.0924     NaN
22   2013-12-27  NTD  10.0884     NaN
23   2013-12-30  NTD  10.0976     NaN
24   2013-12-31  NTD  10.0901     NaN
25   2014-01-02  NTD  10.0995     NaN
26   2014-01-03  NTD  10.0966     NaN
27   2014-01-06  NTD  10.1426     NaN
28   2014-01-07  NTD  10.1728     NaN
29   2014-01-08  NTD  10.1562     NaN
...         ...  ...      ...     ...
1482 2020-03-04  NTD  10.8222     NaN
1483 2020-03-05  NTD  10.7722     NaN
1484 2020-03-06  NTD  10.6448     NaN
1485 2020-03-09  NTD  10.3448     NaN
1486 2020-03-10  NTD  10.3188     NaN
1487 2020-03-11  NTD  10.1934     NaN
1488 2020-03-12  NTD   9.8700     NaN
1489 2020-03-13  NTD   9.8447     NaN
1490 2020-03-16  NTD   9.4564     NaN
1491 2020-03-17  NTD   9.3382     NaN
1492 2020-03-18  NTD   9.0760     NaN
1493 2020-03-19  NTD   8.8893     NaN
1494 2020-03-20  NTD   8.8689     NaN
1495 2020-03-23  NTD   8.7308     NaN
1496 2020-03-24  NTD   8.8275     NaN
1497 2020-03-25  NTD   9.0029     NaN
1498 2020-03-26  NTD   9.2475     NaN
1499 2020-03-27  NTD   9.3477     NaN
1500 2020-03-30  NTD   9.3814     NaN
1501 2020-03-31  NTD   9.4444     NaN
1502 2020-04-01  NTD   9.3762     NaN
1503 2020-04-06  NTD   9.3559     NaN
1504 2020-04-07  NTD   9.4501     NaN
1505 2020-04-08  NTD   9.4680     NaN
1506 2020-04-09  NTD   9.6844     NaN
1507 2020-04-10  NTD   9.6850     NaN
1508 2020-04-13  NTD   9.7878     NaN
1509 2020-04-14  NTD   9.8979     NaN
1510 2020-04-15  NTD   9.8549     NaN
1511 2020-04-16  NTD   9.8587     NaN

[1512 rows x 4 columns]

In [75]:
#低檔投資法回測 ：10% 加碼, 淨值若比10天前下跌10%,「隔天」就加碼
df_10_percent = pd.DataFrame(columns = ["買進日","買入價格","加碼"]) # 存回測結果
unit = 1 # 持有單位,假設創立之初先買一單位
start_index = 0 # 測試不同時間開始的報酬率
buy_nv = df_fund.loc[0,'淨值(元)'] # 假設成立當日就先買一單位
df_10_percent = df_10_percent.append({"買進日":df_fund.loc[0,'年月日'],
                                      "買入價格" : buy_nv, 
                                      "加碼": "x"}, ignore_index=True)

for i,item in df_fund.iterrows():
    if((item['年月日']-df_fund.loc[start_index,'年月日']).days >= 30): # 定期定額
        unit = unit + 1
        buy_nv = buy_nv + df_fund.loc[i,'淨值(元)']
        start_index = i
        df_10_percent = df_10_percent.append({"買進日": item['年月日'], 
                                              "買入價格" : item['淨值(元)'], 
                                              "加碼": "x"}, ignore_index=True)
    
    if(i>=10):
        if( item['淨值(元)'] <= 0.9*(df_fund.loc[i-10,'淨值(元)']) ): # 加碼
            buy_date = df_fund.loc[i+1,'年月日']
            unit = unit + 1
            buy_nv = buy_nv + df_fund.loc[i+1,'淨值(元)']
            df_10_percent = df_10_percent.append({"買進日":buy_date, 
                                                  "買入價格" : df_fund.loc[i+1,'淨值(元)'], 
                                                  "加碼": "v"}, ignore_index=True)
print("end loop")
print(unit*df_fund.loc[len(df_fund)-1,'淨值(元)'])
print(buy_nv)
profit_ret = sell_return(unit*df_fund.loc[len(df_fund)-1,'淨值(元)'], buy_nv,
                         df_fund.loc[len(df_fund)-1,'年月日'], df_10_percent.loc[0,'買進日'])
print(profit_ret)   
#pd.set_option('display.max_rows', None)
df_10_percent

end loop
837.9895
860.9841000000001
-0.026707345698950887

          買進日     買入價格 加碼
0  2013-11-26   9.9998  x
1  2013-12-26  10.0924  x
2  2014-01-27  10.1815  x
3  2014-02-26  10.2918  x
4  2014-03-28  10.3419  x
5  2014-04-28  10.3596  x
6  2014-05-28  10.4042  x
7  2014-06-27  10.4543  x
8  2014-07-28  10.3821  x
9  2014-08-27  10.4033  x
10 2014-09-26  10.1564  x
11 2014-10-27  10.2805  x
12 2014-11-26  10.2885  x
13 2014-12-26  10.1341  x
14 2015-01-26  10.0574  x
15 2015-02-25  10.2674  x
16 2015-03-27  10.1859  x
17 2015-04-27  10.2431  x
18 2015-05-27  10.2100  x
19 2015-06-26  10.0845  x
20 2015-07-27   9.8951  x
21 2015-08-26   9.8689  x
22 2015-09-25   9.8363  x
23 2015-10-26   9.9400  x
24 2015-11-25   9.6989  x
25 2015-12-28   9.4520  x
26 2016-01-27   9.3374  x
27 2016-02-26   9.3277  x
28 2016-03-28   9.5705  x
29 2016-04-27   9.7648  x
..        ...      ... ..
55 2018-07-09  10.3239  x
56 2018-08-08  10.4552  x
57 2018-09-07  10.4882  x
58 2018-10-08  10.4918  x
59 2018-11-07  10.4032  x
60 2018-12-07  10.2034  x
61 2019-01-07  10.1793  x
62 2019-02-11  10.4215  x
63 2019-03-13  10.5806  x
64 2019-04-12  10.7233  x
65 2019-05-13  10.6450  x
66 2019-06-12  10.7322  x
67 2019-07-12  10.7912  x
68 2019-08-12  10.7520  x
69 2019-09-11  10.8667  x
70 2019-10-15  10.7624  x
71 2019-11-14  10.7652  x
72 2019-12-16  10.9044  x
73 2020-01-15  10.9774  x
74 2020-02-14  10.9839  x
75 2020-03-16   9.4564  x
76 2020-03-17   9.3382  v
77 2020-03-18   9.0760  v
78 2020-03-19   8.8893  v
79 2020-03-20   8.8689  v
80 2020-03-23   8.7308  v
81 2020-03-24   8.8275  v
82 2020-03-25   9.0029  v
83 2020-03-26   9.2475  v
84 2020-04-15   9.8549  x

[85 rows x 3 columns]

In [76]:
# Sharpe 投資法

df_sharpe = pd.DataFrame(columns = ["買進日","買入價格","加碼","Sharpe"]) # 存回測結果
unit = 1 # 持有單位,假設創立之初先買一單位
start_index = 0 # 測試不同時間開始的報酬率
buy_nv = df_fund.loc[0,'淨值(元)'] # 假設成立當日就先買一單位
nv_list = list(df_fund['淨值(元)'])
df_sharpe = df_sharpe.append({"買進日":df_fund.loc[0,'年月日'],
                                      "買入價格" : buy_nv, 
                                      "加碼": "x"}, ignore_index=True)

sharpe_list = []
for i,item in df_fund.iterrows():
    rf = df_market.loc[i,"1M"]/100
    if i > 2: # 第2天後每天計算 sharpe
        R = sell_return(unit*item['淨值(元)'], buy_nv, item['年月日'], df_sharpe.loc[0,'買進日'])
        l = nv_list[0:i]
        sd_s =  statistics.stdev(l)
        shar = calculate_sharpe(R,rf,sd_s)
        sharpe_list.append(shar) # list 的 index 和 df 差 10 => 11 vs 0

    if((item['年月日']-df_fund.loc[start_index,'年月日']).days >= 30): # 定期定額
        unit = unit + 1
        buy_nv = buy_nv + df_fund.loc[i,'淨值(元)']
        start_index = i
        df_sharpe = df_sharpe.append({"買進日": item['年月日'], 
                                      "買入價格" : item['淨值(元)'], 
                                      "加碼": "x",
                                      "Sharpe" : shar }, ignore_index=True)
    if i > 12:
        if ( (1 + sharpe_list[len(sharpe_list)-1]) < 0.9*(1 + sharpe_list[len(sharpe_list)-11]) ):  # 加碼            
            tmp = sharpe_list[len(sharpe_list)-4:]
            count_down = down_days(tmp) # 計算夏普指數連跌幾天
            #if count_down >= 3:    
            buy_date = df_fund.loc[i+1,'年月日']
            unit = unit + 1
            buy_nv = buy_nv + df_fund.loc[i+1,'淨值(元)']
            df_sharpe = df_sharpe.append({"買進日": buy_date, 
                                          "買入價格" : df_fund.loc[i+1,'淨值(元)'], 
                                          "加碼": "v",
                                          "Sharpe" : shar }, ignore_index=True)
print(sell_return(unit*df_fund.loc[len(df_fund)-1,'淨值(元)'], buy_nv,
                         df_fund.loc[len(df_fund)-1,'年月日'], df_sharpe.loc[0,'買進日']))
df_sharpe

-0.01628632888053362

           買進日     買入價格 加碼    Sharpe
0   2013-11-26   9.9998  x       NaN
1   2013-12-26  10.0924  x -0.186099
2   2014-01-27  10.1815  x -0.012310
3   2014-02-06  10.1527  v -0.126939
4   2014-02-07  10.1832  v -0.126150
5   2014-02-10  10.1889  v -0.101308
6   2014-02-11  10.2098  v -0.109386
7   2014-02-12  10.2151  v -0.097923
8   2014-02-13  10.2348  v -0.100443
9   2014-02-26  10.2918  x -0.011190
10  2014-03-28  10.3419  x  0.022674
11  2014-04-28  10.3596  x  0.016562
12  2014-05-28  10.4042  x  0.042646
13  2014-06-27  10.4543  x  0.064571
14  2014-07-28  10.3821  x  0.004859
15  2014-08-04  10.2463  v -0.095409
16  2014-08-27  10.4033  x  0.015569
17  2014-09-12  10.2876  v -0.078612
18  2014-09-26  10.1564  x -0.176650
19  2014-09-29  10.1439  v -0.176650
20  2014-09-30  10.1711  v -0.180778
21  2014-10-17  10.1674  v -0.245430
22  2014-10-27  10.2805  x -0.066746
23  2014-11-26  10.2885  x -0.067880
24  2014-12-10  10.0414  v -0.228227
25  2014-12-11  10.0198  v -0.262135
26  2014-12-12   9.9805  v -0.267583
27  2014-12-15   9.9265  v -0.292345
28  2014-12-16   9.8866  v -0.321526
29  2014-12-17   9.9309  v -0.340106
..         ...      ... ..       ...
108 2019-02-11  10.4215  x  0.112279
109 2019-03-13  10.5806  x  0.172805
110 2019-04-12  10.7233  x  0.222261
111 2019-05-13  10.6450  x  0.187475
112 2019-06-12  10.7322  x  0.213686
113 2019-07-12  10.7912  x  0.226607
114 2019-08-12  10.7520  x  0.204959
115 2019-09-11  10.8667  x  0.235296
116 2019-10-15  10.7624  x  0.194357
117 2019-11-14  10.7652  x  0.190324
118 2019-12-16  10.9044  x  0.228619
119 2020-01-15  10.9774  x  0.242710
120 2020-02-14  10.9839  x  0.237448
121 2020-03-10  10.3188  v  0.044566
122 2020-03-11  10.1934  v  0.036308
123 2020-03-12   9.8700  v -0.000848
124 2020-03-13   9.8447  v -0.095288
125 2020-03-16   9.4564  v -0.102277
126 2020-03-16   9.4564  x -0.215262
127 2020-03-17   9.3382  v -0.215262
128 2020-03-18   9.0760  v -0.246623
129 2020-03-19   8.8893  v -0.321067
130 2020-03-20   8.8689  v -0.372253
131 2020-03-23   8.7308  v -0.373868
132 2020-03-24   8.8275  v -0.409375
133 2020-03-25   9.0029  v -0.376569
134 2020-03-26   9.2475  v -0.322281
135 2020-03-27   9.3477  v -0.249142
136 2020-03-30   9.3814  v -0.218364
137 2020-04-15   9.8549  x -0.070974

[138 rows x 4 columns]